@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');



/*-----------RESET------------*/

*{
    margin: 0;
    padding: 0;

}













/*-----------HEADER------------*/
 header nav{
background-color: rgb(241, 169, 169);

width: 100%;
height: 100px;
background-repeat: no-repeat;
background-size: cover;
background-position:center;
text-align: left;
color:cadetblue;
font-style:italic;
font: weight 100px;
font-family: 'Abel', sans-serif;

}
header nav  h1 {
    font-size: 40px;
    

}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: left;
  

   
}
header nav a {
    
 
    margin-left: 2px;
   
    text-decoration: none;
    color: cadetblue;
    font-size: 18px;
    font-style:italic;
    font-family: 'Abel', sans-serif;
    font: weight 100px;
  
}

  















/*-----------MAIN------------*/
main{
    background-image:url(../img/fondoo.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
main section h2{

    text-align:center;
    font-style: italic;
    font-family: 'Abel', sans-serif;
    font-size: 30px;
    color: cadetblue;
}
main section  p{
    text-align:center;
    font-style: italic;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    color: cadetblue;}
    
.grid-mayor{
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns:repeat(4,2fr);
    grid-auto-rows: 300px;
    gap: 5px
;
}
 .grid-mayor div img{
    width: 100%;
    height: 300px;
    object-fit:cover ;
    

 }

.destacado ul {
 
 
  display: flex;
  justify-content: left;
}
.destacado div img{
    width: 300px;
    height: 200px; 
    margin: 25px;

}



 main section h3{
    text-align:center;
    font-style: italic;
    font-family: 'Abel', sans-serif;
    font-size: 35px;
    color: cadetblue;
    margin: 40px;
 }

 .marcas div{
    display: flex;
    justify-content: center;
 }

 .marcas  div img{
    width: 100px;
    height: 50px;
    margin: 15px;
 }
 




 .productos h4 {
    text-align:center;
    font-style: italic;
    font-family: 'Abel', sans-serif;
    font-size: 40px;
    color: cadetblue;}

.productos .productos-contenedor{
display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
}


.productos .productos-contenedor .contenedor {
    
    width: 250px;
    height: 370px;
    border: 2px solid ;
    background-color:rgb(248, 207, 222);
    margin: 20px;
    text-align: center;
    font-style: italic;
    
    font-size: 25px;
    
    }



.productos h6{
    text-align:center;
    font-style: italic;
    font-family: 'Abel', sans-serif;
    font-size: 25px;
    color:black;}


 


.productos img{
    width: 230px;
    height: 270px;
    padding: 5px;
    margin: 5px;
}

.carousel-inner  {
  margin: auto;
  padding: auto;
   height: 450px;
    width: 60%;
    /* margin-right: 30px;
    margin-left: 50px; */
  
   
   
}





  








/*-----------FOOTER------------*/
footer{
    background-color: black;
    color: cadetblue;
    text-align: center;
    font-style: italic;
    font-family: 'Abel', sans-serif;
    font-size: 15px;
    
} 
    
@media screen and (max-width:800px) {.grid-mayor {
    grid-template-columns: repeat(2,2fr);
    grid-template-rows:250px ;
}
    
}
@media screen and (max-width:400px) {.grid-mayor{
    grid-template-columns:repeat(1,1fr) ;
    grid-template-rows:200px;
}
    
}
